// Variables
$spacing-small: 10px;
$spacing-medium: 20px;
$padding-footer: 5px;
$font-size-footer-p: 1.5rem;
$font-size-label: 1.5rem;
$color-primary: #FFF;
$color-link: $color-primary;
$max-width-iframe: 300px;
$height-iframe: 100px;
$bg-image: url(../img/fondoimg.jpg);
$bg-position: 10%;

// Placeholder Selectors
%center-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $padding-footer;
}

%footer-link-style {
    text-decoration: none;
    color: $color-link;
    font-weight: bold;
    margin-top: $spacing-small;
}

%footer-text-style {
    margin: $spacing-small 0;
    font-size: $font-size-footer-p;
}

%iframe-style {
    margin: $spacing-medium 0;
    border: 0;
    width: 100%;
    max-width: $max-width-iframe;
    height: $height-iframe;
}

// Estilos para el footer
footer {
    @extend %center-flex;
    color: $color-primary;

    h3, p {
        @extend %footer-text-style;
        color: $color-primary;
    }

    iframe {
        @extend %iframe-style;
    }

    a {
        @extend %footer-link-style;
    }
}

label {
    color: $color-primary;
    font-size: $font-size-label;
}

body {
    background-image: $bg-image;
    width: 100%;
    height: 100vh;
    background-position: $bg-position;
    background-attachment: fixed;
    position: relative;
}
