// Variables
$background-color: #000; // Color de fondo para el texto
$link-color: #FFF; // Color de los enlaces
$spacing: 10px; // Espaciado general
$nav-spacing: 20px; // Espaciado específico para la navegación

// Mixins
@mixin center-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: $spacing;
}

@mixin link-style {
    text-decoration: none;
    color: $link-color;
    font-weight: bold;
}

// Estilos globales
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// Header
header {
    @include center-content;
}

// Logo
.logo {
    width: 10%;
    height: auto;
    border-radius: 50%;
}

// Enlaces de inicio
.link-home a {
    text-decoration: underline;
}

// Título principal
.principal {
    margin: $spacing 0;
}

// Navegación
nav {
    margin-top: $nav-spacing;
}

nav a {
    @include link-style;
    margin: 0 15px;
}
