// Variables
$spacing: 20px; // Espaciado general
$font-size-title-one: 25px;
$font-size-title-two: 25px;
$font-size-input: 15px;
$font-size-h1: 2rem;
$font-size-h2: 2rem;
$font-size-h3: 1rem;
$font-size-p: 1.5rem;
$font-size-link: 2rem;
$color-primary: #FFF;
$color-hover: #0056b3;

// Mixins
@mixin spacing($margin) {
    margin: $margin;
}

@mixin title-style($font-size, $margin) {
    font-size: $font-size;
    @include spacing($margin);
}

@mixin container-style($padding, $flex-direction, $align-items, $text-align, $justify-content: unset, $flex-wrap: unset, $object-fit: unset) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    text-align: $text-align;
    padding: $padding;
    @if $justify-content != unset {
        justify-content: $justify-content;
    }
    @if $flex-wrap != unset {
        flex-wrap: $flex-wrap;
    }
    @if $object-fit != unset {
        object-fit: $object-fit;
    }
}

@mixin image-style($width, $margin) {
    width: $width;
    height: auto;
    margin: $margin;
}

@mixin link-style($color, $font-weight, $font-size, $text-decoration) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    text-decoration: $text-decoration;
}

// Estilos para el main
.title-one {
    @include title-style($font-size-title-one, $spacing);
}

.title-two {
    @include title-style($font-size-title-two, $spacing);
}

.title-three {
    @include title-style($font-size-title-two, $spacing); // Usamos el mismo tamaño de fuente que title-two
}

input {
    font-size: $font-size-input;
}

.reserva a {
    padding: $spacing;
}

.presentacion {
    @include container-style($spacing, column, center, center, wrap, cover);
}

.carta {
    @include container-style($spacing, column, center, center, wrap, cover);
}

.carta img {
    @include image-style(50%, 40px 0);
}

.reserva {
    @include container-style($spacing, column, center, center);
}

.presentacion img {
    @include image-style(30%, 20px 0);
}

.presentacion h2 {
    @include spacing($spacing);
}

.presentacion a {
    @include link-style($color-primary, bold, unset, none);
    margin-top: $spacing;
    display: inline-block;
}

h1 {
    color: $color-primary;
    font-family: "Kanit", sans-serif;
}

.principal {
    text-transform: uppercase;
}

h2 {
    color: $color-primary;
    font-size: $font-size-h2;
}

h3 {
    color: $color-primary;
    font-size: $font-size-h3;
}

p {
    font-family: "Oswald", sans-serif;
    font-size: $font-size-p;
    color: $color-primary;
}

a {
    @include link-style($color-primary, bolder, $font-size-link, none);
}

a:hover {
    color: $color-hover;
}