// Variables
$logo-width-tablet: 30%;
$logo-width-mobile: 50%;
$logo-width-mobile-portrait: 50%; // Para orientación vertical en móviles
$padding-small: 10px;
$padding-x-small: 5px;
$font-size-h2-tablet: 1.5rem;
$font-size-h3-tablet: 0.9rem;
$font-size-p-tablet: 1rem;
$font-size-h2-mobile: 1.2rem; 
$font-size-h3-mobile: 0.8rem;
$font-size-p-mobile: 0.9rem;
$font-size-nav-mobile: 1.2rem;
$font-size-nav-tablet: 1.5rem;

// Placeholder Selectors
%logo-common {
    width: 10%;
    height: auto;
    border-radius: 50%;
}

%nav-common {
    margin-top: $padding-small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

%image-common {
    width: 50%;
    height: auto;
}

%text-common {
    h2, h3, p, label {
        color: $color-primary;
    }
}

// Mixins
@mixin responsive-logo($width) {
    .logo {
        @extend %logo-common;
        width: $width;
    }
}

@mixin responsive-nav($font-size, $margin-top, $flex-direction, $align-items: unset) {
    nav {
        @extend %nav-common;
        margin-top: $margin-top;
        flex-direction: $flex-direction;
        @if $align-items != unset {
            align-items: $align-items;
        }
    }

    nav a {
        font-size: $font-size;
        margin: 10px 0; // Ajuste vertical entre los enlaces
    }
}

@mixin responsive-image($width) {
    .carta img, .presentacion img {
        @extend %image-common;
        width: $width;
    }
}

@mixin responsive-text($font-size-h2, $font-size-h3, $font-size-p) {
    h2 {
        font-size: $font-size-h2;
    }

    h3 {
        font-size: $font-size-h3;
    }

    p, label {
        font-size: $font-size-p;
    }
}

// Media Queries
@media (max-width: 768px) {
    @include responsive-logo($logo-width-tablet);
    @include responsive-nav($font-size-nav-tablet, $padding-small, column);
    @include responsive-image(80%);
    @include responsive-text($font-size-h2-tablet, $font-size-h3-tablet, $font-size-p-tablet);
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: $padding-x-small;
    }

    @include responsive-logo($logo-width-mobile);
    @include responsive-nav($font-size-nav-mobile, $padding-small, column, center);
    @include responsive-image(90%);
    @include responsive-text($font-size-h2-mobile, $font-size-h3-mobile, $font-size-p-mobile);

    footer iframe {
        width: 100%;
    }
}
